--- 
layout: default 
--- 
{% include slider.html %}
<div class="wrapper-content">
    <div id="welcome-message" class="intro">
        <h1>{{site.title}}</h1>
        <p>
            <p>{{site.description}}</p>
        </p>
    </div>
    <!-- end #welcome-message -->
    <div class="divider">&nbsp;</div>
    <div class="widget wpzoom" id="wpzoom-widget-feat-3-items-2">
        <div class="featured-pages">
            {% include featured-posts.html %}
            <div class="cleaner">&nbsp;</div>
       
        </div>
        <!-- end .featured-pages -->
        <div class="divider">&nbsp;</div>
        <div class="cleaner">&nbsp;</div>
    </div>
     {% include featured-category.html %}
    <!-- end .widget .featured-category -->
    <div class="divider">&nbsp;</div>
    <div class="cleaner">&nbsp;</div>
</div>
<!-- end .wrapper-content -->
