img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	border: 0px;
}
@media screen and ( max-width: 1169px) { 
.page-wrapper { 
	width: 90%;
}
}
@media screen and ( max-width: 767px) {
.page-wrapper { 
	width: 90%;
}
header { 
	height: auto;
}
.welcome-text { 
	width:100%;
}
.sql-injec { 
	width:100%;
}
.home-banner-block { 
	width:100%;
}
.home-form-box { 
	width:100%;
}
ul.banner-list { 
	width:100%;
	margin-bottom:30px;
	padding:0;
}	
ul.logo-set li { 
	width:50%;
}
.main-content .col01 { 
	width:100%;
}
.main-content .col02 { 
	width:100%;
}
#bottom-icons ul li { 
	width:100%;
	margin-bottom:20px;
}
}
