  <div class="widget featured-category">
        <p class="title"><a href="category/campus-news/index.html">Featured Category</a></p>
        {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %} {% assign sortedTags = site_tags | split:',' | sort %} {% for tag in sortedTags %}
        <ul class="posts-archive">
        {% assign category = site.featured-category %}
            {% assign count = 1 %} {% for post in site.tags[tag] limit:3 %} {% if tag contains category %} {% if count == 1 %}
            <div class="column column-wide">
                <div class="cover">
                    <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/image/blog/{{post.image}}" class="Thumbnail thumbnail featured-category" alt="{{post.image-desc}}" width="380" height="230" /></a>
                </div>
                <h2><a href="{{site.baseurl}}{{post.url}}" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">{{post.title}}</a></h2>
                <p>{{post.excerpt | strip_html | truncatewords:28 }}</p>
                <span class="more"><a href="{{site.baseurl}}/{{post.url}}" rel="nofollow">continue reading &rarr;</a></span>
                <div class="cleaner">&nbsp;</div>
            </div>
            <!-- end .column -->
            {% else %}
            <div class="column">
                <div class="cover">
                    <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/image/blog/{{post.image}}" class="Thumbnail thumbnail featured-category" width="140" height="85" /></a>
                </div>
                <h2><a href="{{site.baseurl}}{{post.url}}" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit">{{post.title}}</a></h2>
                <p>{{post.excerpt | strip_html | truncatewords:28 }}</p>
                <span class="more"><a href="{{site.baseurl}}/{{post.url}}" rel="nofollow">continue reading &rarr;</a></span>
                <div class="cleaner">&nbsp;</div>
            </div>
            <!-- end .column -->
            {% endif %} {% endif %} {% assign count = count | plus: 1 %} {% endfor %} {% endfor %}
            <div class="cleaner">&nbsp;</div>
    </div>
    