{% for post in site.posts %}
     {% if post.categories contains 'blog' %}
            {% if post.featured == "yes" %}
            <div class="column">
                <div class="cover">
                    <a href="{{site.baseurl}}{{post.url}}" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit"><img src="{{site.baseurl}}/image/blog/{{post.image}}" alt="{{post.image-desc}}" class="Thumbnail thumbnail featured-pages " width="220" height="110" /></a>
                </div>
                <h2><a href="{{site.baseurl}}{{post.url}}" title=""></a>{{post.title}}</h2>
                <p>{{post.excerpt | strip_html | truncatewords:28 }}</p>
                <span class="more"><a href="{{site.baseurl}}{{post.url}}" rel="nofollow">continue reading &rarr;</a></span>
                <div class="cleaner">&nbsp;</div>
            </div>
            <!-- end .column -->
            {% endif %}
      {% endif %}       
{% endfor %}