<div class="feature-banner-main" style=" background:url({{site.baseurl}}/image/patrn_2.png) center repeat;">
    	<div class="feature-banner" style="background:url({{site.baseurl}}/image/feature_caption.png) center top repeat-x;">
        	<div class="container">
            	<h2>All <span>"Bad Credit Auto Loans"</span> Situations Welcome!</h2>

            	<div class="row">
                	<div class="col-lg-4 col-sm-4">
                    	<ul>
                        	<li><a href="#">Buy Here Pay Here</a></li>
                        	<li><a href="#">In-House Financing Options</a></li>
                        	<li><a href="#">Low Income</a></li>
                        	<li><a href="#">Recently Divorced</a></li>
                        	<li><a href="#">Low Scores</a></li>
<li><a href="#">Car Finance with Bad Credit</a></li>
                        </ul>
                    </div>
                	<div class="col-lg-4 col-sm-4">
                    	<ul>
                        	<li><a href="#">Student</a></li>
                        	<li><a href="#">Recent Repo</a></li>
                        	<li><a href="#">First Time Car Buyers</a></li>
                        	<li><a href="#">Get Approved Instantly</a></li>
                        	<li><a href="#">No Money Down Options</a></li>
<li><a href="#">We Say YES to Credit</a></li>
                        </ul>
                    </div>
                	<div class="col-lg-4 col-sm-4">
                    	<ul>
                        	<li><a href="#">Self Employed</a></li>
                        	<li><a href="#">Military</a></li>
                        	<li><a href="#">Top Money For Trades</a></li>
                        	<li><a href="#">Recent or Open Bankruptcy</a></li>
<li><a href="#">We Say YES</a></li>
<li><a href="#">Easy Car Loans</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>