<div class="widget recent-posts">
    <h2 class="title">Recent Posts</h2>
    <ul class="posts-archive">
        {% for post in site.posts limit:10 %}
          {% if post.categories contains 'blog' %}
        <li>
            <div class="post-thumb">
                <a href="{{site.baseurl}}{{post.url}}" title="{{post.title}}"><img src="{{site.baseurl}}/image/blog/{{post.image}}" alt="{{post.image-desc}}" class="Thumbnail thumbnail loop-main " width="140" height="90" /></a>
            </div>
            <div class="post-excerpt">
                <p class="postmetadata">
                    <span><time datetime="2015-08-13" pubdate>{{post.date | date:"%B %-d, %Y"}}</time>				</span>
                </p>
                <h2><a href="{{site.baseurl}}{{post.url}}" title="Permanent link to{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
                <p>{{post.excerpt | strip_html | truncatewords:28 }}</p>
                <span class="more"><a href="{{site.baseurl}}{{post.url}}" rel="nofollow">continue reading &rarr;</a></span>
            </div>
            <!-- end .post-excerpt -->
            <div class="cleaner">&nbsp;</div>
        </li>
          {% endif %}
        {% endfor %}
    </ul>
    <!-- end .posts-archive -->
</div>
