<div class="widget zoom-social-icons-widget" id="zoom-social-icons-widget-2">
    <p class="title">Social Icons</p>
    <ul class="zoom-social-icons-list zoom-social-icons-list--with-canvas zoom-social-icons-list--rounded zoom-social-icons-list--no-labels">
        <li class="zoom-social_icons-list__item">
            <a href="https://twitter.com/{{site.facebook_username}}">
                <img src="{{site.baseurl}}/image/blog/facebook.png" />
            </a>
        </li>
        <li class="zoom-social_icons-list__item">
            <a href="https://twitter.com/{{site.twitter_username}}">
                <img src="{{site.baseurl}}/image/blog/twitter.png" />
            </a>
        </li>
        <li class="zoom-social_icons-list__item">
            <a href="https://twitter.com/{{site.instagram_username}}">
                <img src="{{site.baseurl}}/image/blog/instagram.png" />
            </a>
        </li>
        <li class="zoom-social_icons-list__item">
            <a href="https://twitter.com/{{site.youtube_username}}">
                <img src="{{site.baseurl}}/image/blog/youtube.png" />
            </a>
        </li>
    </ul>
    <div class="cleaner">&nbsp;</div>
</div>
<div class="widget zoom-twitter-widget" id="zoom_twitter_widget-2">
    <p class="title">Tweets</p>
    <ul class="zoom-twitter-widget__items">
        <li class="zoom-twitter-widget__item">
            <p class="zoom-twitter_widget__message">
                Useful tip from <a class="zoom-twitter-widget__message-user-link" href="#" target="_blank">@kevinmuldoon</a>! Pay Attention to Your WordPress Database [Size]
                <a class="zoom-twitter-widget__message-link" href="#" target="_blank"></a> <a class="zoom-twitter-widget__message-link" href="https://t.co/HrV3kiwUqz" target="_blank">https://t.co/HrV3kiwUqz</a>
            </p>
        </li>
        <li class="zoom-twitter-widget__item">
            <p class="zoom-twitter_widget__message">
                Case study: world class photographer Craig Parry (Nat Geographic, Sony and more) uses our Inspiro theme 📸…
                <a class="zoom-twitter-widget__message-link" href="https://t.co/YSefC4Lrlr" target="_blank"></a>
            </p>
        </li>
        <li class="zoom-twitter-widget__item">
            <p class="zoom-twitter_widget__message">
                RT
                <a class="zoom-twitter-widget__message-user-link" href="#" target="_blank"></a>: “decisions, not options” is the guiding philosophy for WordPress.
                <a class="zoom-twitter-widget__message-link" href="https://t.co/Zw5SK2AZe1" target="_blank"></a> via <a class="zoom-twitter-widget__message-user-link" href="#" target="_blank">@wpzoom</a>
            </p>
        </li>
    </ul>
    <div class="zoom-twitter-widget__follow-me">
        <a class="twitter-follow-button" href="#" data-show-count="false">
        Follow &commat;wpzoom     </a>
    </div>
    <div class="cleaner">&nbsp;</div>
</div>
