<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bad Credit Auto Loans Car Dealer Buy Here Pay Here Dealer </title>

<!-- This site is optimized with the Yoast SEO plugin v4.0.2 - https://yoast.com/wordpress/plugins/seo/ -->

		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>

    <link href="{{site.baseurl}}/css/bootstrap.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/social.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/css/style.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/custom.css" rel="stylesheet">
<script src="{{site.baseurl}}/js/gen_validatorv4.js"></script>    

<!-- Start Alexa Certify Javascript -->


</head>

<body>
	<header>

    	<div class="header-top">
          <div class="container">
          		<div class="row">
                	<div class="col-lg-6 col-sm-6">
                    	<div class="logo"><a href="index.html"><img src="{{site.baseurl}}/image/logo.png"></a></div>

                    </div>
                    <!--<div class="col-lg-2 col-sm-2">
                    	<div class="top-right">
                        <a href="javascript:void(0);"  data-toggle="modal" data-target="#Modalcallback">Search</a>
                        </div>
                    </div>-->
                    
                    
                	<div class="col-lg-4 col-sm-4">
                    <div class="top-right"><img src="{{site.baseurl}}/image/top_car_img.png"></div>
                    </div>
                </div>
          </div>
        </div>
        <div class="menu_bar">
        	<div class="container">
               <div id="mob-nav"></div>
                    <div id="nav">
                        <ul  class="menu-left">
                        <li><a  href="index.html"  data-toggle="modal" data-target="#Modalcallback">Home</a></li>
<li><a  href="products/cars/cars.html" data-toggle="modal" data-target="#Modalcallback2">CARS</a></li>
<li><a  href="products/trucks/truck.html"  data-toggle="modal" data-target="#Modalcallback3">Trucks</a></li>
<li class="highlight-text"><a href="http://www.google.com">GET APPROVED NOW!</a></li>
<li><a  href="products/suvs/suvs.html"  data-toggle="modal" data-target="#Modalcallback5">Suvs</a></li>

 

<li><a  href="products/review/customerreview.html">REVIEWS</a></li>
                        </ul>
                </div>
                    <div id="nav">
                        <ul class="menu-right">
                                                          <!--<li><a  href="javascript:void(0);"  data-toggle="modal" data-target="#Modalcallback4">Minivans</a></li>-->
                          
                                                    </ul>
                </div>
            </div>
        </div>
    </header>


{{content}}


    <footer><div id="fb-root"></div>

    	<div class="footer">
        	<div class="container"> 


<h3>

</h3>
<p>Our bad credit auto loans and buy here pay here used car dealerships auto financing. <br>We offer no credit or bad credit auto financing on used cars and trucks. <br>Even if you have a past bankruptcy, we have BHPH financing for all used cars on our lot. <br>As a buy here pay here dealer, we can offer bad credit car loans that other auto dealerships simply cannot.  <br>We are the lender and the dealer selling used cars to buyers with bad credit or no credit. <br>Our BHPH used car dealers specialize in bad credit auto loans and understand that financial difficulties can happen to anyone! <br>We also offer Credit Union financing with CUDL’s network of 1,100 credit unions<br><br><b>RATES AS LOW AS 1.9% APR* Up To 84 Months *On Approved Credit. </b><br></p>

<h2>Contact us at: 1-800-830-6734</h2>
            	<div class="row">
       
                       
                      <div class="footer-link"> <p>Copyright &copy; 2013 JeremySaysYes.com All Rights Reserved Privacy Policy</div>



                    </div>
                </div>
            </div>
        </div>
    </footer>

<div class="modal fade" id="Modalcallback" tabindex="-1" role="dialog" aria-labelledby="Modalcallback" aria-hidden="true">
  <div class="modal-dialog model-color">
    <div class="modal-content">
      <div class="modal-header brown_bg white_text">
        <button data-dismiss="modal" class="close" type="button"> <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 id="Modalcallback" class="modal-title">Enter Zipcode to View VEHICLES Near You!</h4>
      </div>
      <div class="modal-body">
        
        <div id="form_success">
          <form action="index.html" method="post" id="callbackform" name="callbackform">
            <div class="form-group">
              <label for="name">Zipcode</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
           
           
            <p align="center">
              <input type="submit" name="button" id="button" value="Search"  class="btn btn-warning btn-block"/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Modalcallback2" tabindex="-1" role="dialog" aria-labelledby="Modalcallback2" aria-hidden="true">
  <div class="modal-dialog model-color">
    <div class="modal-content">
      <div class="modal-header brown_bg white_text">
        <button data-dismiss="modal" class="close" type="button"> <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 id="Modalcallback2" class="modal-title">Enter Zipcode to View CARS Near You!</h4>
      </div>
      <div class="modal-body">
        
        <div id="form_success">
          <form action="products/cars/cars.html" method="post" id="callbackform" name="callbackform">
          <input name="page" type="hidden" value="cars" />
            <div class="form-group">
              <label for="name">Zipcode</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
           
           
            <p align="center">
              <input type="submit" name="button" id="button" value="Search"  class="btn btn-warning btn-block"/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Modalcallback3" tabindex="-1" role="dialog" aria-labelledby="Modalcallback3" aria-hidden="true">
  <div class="modal-dialog model-color">
    <div class="modal-content">
      <div class="modal-header brown_bg white_text">
        <button data-dismiss="modal" class="close" type="button"> <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 id="Modalcallback3" class="modal-title">Enter Zipcode to View TRUCKS Near You!</h4>
      </div>
      <div class="modal-body">
        
        <div id="form_success">
          <form action="products/trucks/truck.html" method="post" id="callbackform" name="callbackform">
          <input name="page" type="hidden" value="trucks" />
            <div class="form-group">
              <label for="name">Zipcode</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
           
           
            <p align="center">
              <input type="submit" name="button" id="button" value="Search"  class="btn btn-warning btn-block"/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="Modalcallback5" tabindex="-1" role="dialog" aria-labelledby="Modalcallback5" aria-hidden="true">
  <div class="modal-dialog model-color">
    <div class="modal-content">
      <div class="modal-header brown_bg white_text">
        <button data-dismiss="modal" class="close" type="button"> <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h4 id="Modalcallback5" class="modal-title">Enter Zipcode to View SUVS Near You!</h4>
      </div>
      <div class="modal-body">
        
        <div id="form_success">
          <form action="products/suvs/suvs.html" method="post" id="callbackform" name="callbackform">
          <input name="page" type="hidden" value="suvs" />
            <div class="form-group">
              <label for="name">Zipcode</label>
              <input type="text" name="name" id="name" class="form-control">
            </div>
           
           
            <p align="center">
              <input type="submit" name="button" id="button" value="Search"  class="btn btn-warning btn-block"/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Bootstrap core JavaScript 
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{site.baseurl}}/js/bootstrap.min.js"></script>  
<script type="text/javascript" src="{{site.baseurl}}/js/jquery.meanmenu.js"></script> 
    <script src="{{site.baseurl}}/js/custom.html"></script>
<script type="text/javascript">
	jQuery(document).ready(function () {
		jQuery(document).ready(function () {
			jQuery('#nav').meanmenu();
		});		
	});
		$(window).load(function() {
    // $('#Modalcallback').modal('toggle');
});
	
</script>

</body>

<!-- Mirrored from jeremysaysyes.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 09 Jan 2017 10:23:12 GMT -->
</html>
