--- 
layout: default
---
<div id="main" class="single-post">
    <div id="content">
        <div class="wrapper-content">
            <h1 class="title title-large" id="h1">{{page.title}}</h1>
            <p class="postmetadata">By {{page.author}} &nbsp;/ &nbsp;<span class="category">In {{page.category}}&nbsp;/&nbsp; <time>{{page.date | date:"%B %-d, %Y"}}</time> </span> 
              
            </p>
            <div class="post-content">
                <figure id="attachment_92" style="width: 300px" class="wp-caption alignleft"><img src="{{site.baseurl}}/image/blog/{{page.image}}" alt="{{page.image-desc}}"  width="300" height="199" class="size-medium wp-image-92" sizes="(max-width: 300px) 100vw, 300px" />
                    <figcaption class="wp-caption-text">{{page.image-desc}}</figcaption>
                </figure>
                <p>{{page.content}}</p>
                {% include disqus.html %}
                <div class="cleaner">&nbsp;</div>
            </div>
        </div>
    </div>
</div>
